* {
	box-sizing: border-box;
} 
body {
	margin: 0;
	background-image: url(../images/background1.png); /* Background pattern from subtlepatterns.com */
}
.container {
	padding: 30px;
}
.container>h3 {
	color: #fff;
}
.btn-newGame {
	font-size: 40px;
}
.fa {
	font-size: 30px;
}
#js-playerPick_paper,
#js-playerPick_rock,
#js-playerPick_scissors {
	font-size: 25px;
}
#js-resultsTableElement {
	color: #fff;
	font-size: 20px;
}
#js-displayWinner {
	color: #fff;
}
.badage {
	font-size: 20px;
}